<template>
  <v-container fluid>
    <v-row dense justify="center" align-content="center" class="content-table">
      <v-col cols="11">
        <div class="text-center">
          <v-pagination
            v-if="showPagination(dataSearch.totalResults)"
            v-model="page"
            :length="dataSearch.totalResults"
            :total-visible="7"
            @input="changePage(dataSearch.payload)"
          >
          </v-pagination>
        </div>
      </v-col>
    </v-row>
    <v-row dense justify="center" align-content="center">
      <div v-if="dataSearch.Response">
        <h2 class="text-result-no-found">
          {{ dataSearch.Error }}
        </h2>
      </div>
      <v-col
        v-for="(peli, i) in dataSearch.Search"
        :key="i"
        cols="12"
        sm="5"
        md="4"
        lg="3"
        class="my-4"
      >
        <v-card
          class="mx-auto rounded-lg"
          max-width="500"
          @click="showMore(peli)"
        >
          <v-img
            :src="validaUrlImg(peli.Poster)"
            height="300"
            :lazy-src="lazyImg"
          ></v-img>
        </v-card>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="11">
        <v-dialog
          v-if="dataMovies.Response"
          v-model="dialog"
          persistent
          overlay-opacity="0.8"
          transition="dialog-bottom-transition"
          max-width="510"
          dark
        >
          <v-card class="mx-auto" max-width="504">
            <v-img :src="validaUrlImg(dataMovies.Poster)"></v-img>

            <v-card-title> {{ dataMovies.Title }}</v-card-title>

            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="getRanting(dataMovies.imdbRating)"
                  color="amber"
                  dense
                  half-increments
                  length="10"
                  readonly
                  size="14"
                ></v-rating>

                <div class="grey--text ms-4">
                  ({{ getRanting(dataMovies.imdbRating) }}/10)
                </div>
              </v-row>
              <div class="text-subtitle-1 mt-3">
                Language: {{ dataMovies.Language }}
              </div>
              <div class="text-subtitle-1 mb-2">
                Runtime: {{ dataMovies.Runtime }}
              </div>
              <div class="text-subtitle-1 mb-2">{{ dataMovies.Year }}</div>
              <div>
                {{ dataMovies.Plot }}
              </div>
            </v-card-text>

            <v-divider class="mx-4"></v-divider>

            <v-card-title
              >Director:
              {{
                directorOrWriter(dataMovies.Director, dataMovies.Writer)
              }}</v-card-title
            >
            <div class="text-subtitle-1 px-6">
              Actors: {{ dataMovies.Actors }}
            </div>
            <v-card-subtitle
              >Hearn Money: {{ dataMovies.BoxOffice }}</v-card-subtitle
            >

            <v-card-actions class="justify-end">
              <v-btn color="primary" text @click="dialog = false"> OK </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import search from "@/store/modules/search";
import { Pelis } from "@/store/models/searchs";

@Component
export default class Home extends Vue {
  // created
  async created() {
    await search.getDataSearch({ query: "s=game", pages: 1 });
  }
  get dataSearch() {
    return search.dataSearch;
  }
  get dataMovies() {
    return search.dataMovie;
  }
  // data
  page = 1;
  private dialog = false;
  private lazyImg = require("@/assets/img/loading.gif");
  private async showMore(peli: Pelis) {
    await search.getDataMovies(`i=${peli.imdbID}`);
    this.dialog = true;
  }
  // methods
  showPagination(pages: number): boolean {
    return pages && pages > 1 ? true : false;
  }
  private async changePage(pyload: string) {
    await search.getDataSearch({ query: pyload, pages: this.page });
  }
  private validaUrlImg(url: string): string {
    return url != "N/A" ? url : this.lazyImg;
  }
  private directorOrWriter(director: string, writer: string): string {
    return director != "N/A" || director == undefined ? director : writer;
  }
  private getRanting(rating: string): number {
    return rating != "N/A" ? parseFloat(rating) : 4.5;
  }
}
</script>
<style>
.content-table {
  margin-top: 138px !important;
}
.text-result-no-found {
  margin-top: 150px;
  font-size: 2rem;
  color: #e0e0e0;
}
</style>
