<template>
  <v-app-bar dark fixed prominent class="nav-var">
    <div class="nav-bar-logo-content">
      <img
        src="@/assets/img/cinephiles200x160.png"
        alt="logo pelis consultor"
        srcset=""
        class="nav-bar-logo-img"
      />
    </div>
    <v-spacer></v-spacer>
    <div class="content-search">
      <div class="grup-type-seacrh">
        <v-chip-group
          v-model="typeSelected"
          @change="searchMovies"
          color="black"
          x-small
          mandatory
        >
          <v-chip
            v-for="nameType in listSearch"
            :key="nameType"
            :value="nameType"
            class="mx-0"
          >
            {{ nameType.toUpperCase() }}
          </v-chip>
        </v-chip-group>
      </div>
      <v-text-field
        outlined
        dense
        label="Seacrh..."
        append-icon="mdi-magnify"
        color="primary"
        v-model="payload"
        hide-details=""
        class="input-search ml-3"
        @input="searchMovies"
      ></v-text-field>
    </div>
  </v-app-bar>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import search from "@/store/modules/search";

@Component
export default class NavBar extends Vue {
  // computed
  get search() {
    return search.dataSearch;
  }
  // data
  private payload = "";
  private typeSelected = "all";
  private listSearch = ["movie", "series", "episode", "all"];
  // methods
  public async searchMovies() {
    let query = `s=${this.payload}${
      this.typeSelected != "all" ? `&type=${this.typeSelected}` : ""
    }`;
    if (this.payload.length > 2) {
      await search.getDataSearch({ query: query, pages: 1 });
    }
  }
}
</script>

<style>
.nav-bar-logo-img {
  width: 200px;
  height: 90px;
}
.nav-var {
  background-size: cover;
  background-image: url("../assets/img/background-pelis.png") !important;
}
.content-search {
  width: 40%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.grup-type-seacrh {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.input-search {
  margin-top: 40px !important;
}
/* overwrite class of vuetify */
.v-chip.v-size--default {
  border-radius: 6px !important;
  font-size: 14px;
  height: 30px !important;
}
.theme--dark.v-chip:not(.v-chip--active) {
  background: none !important;
}
.v-chip-group .v-chip--active {
  color: #2b8df2 !important;
}
.v-app-bar-title__content {
  width: 175px !important;
}
</style>
