<template>
  <v-app>
    <NavBar />
    <main>
      <router-view />
    </main>
  </v-app>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NavBar from "@/components/NavBar.vue";
@Component({
  components: {
    NavBar,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  background-image: url("./assets/img/background-pelis.png") !important;
}
</style>
